body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;

}


a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
    background-color: #ffffff;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff;

}

.main-navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    background-color: #fff;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin: 0;
    padding: 0;
    margin-left: 72px;
    list-style: none;

}


.site-navigation-right {
    justify-content: flex-end;
    margin-right: 72px;
}


.site-navigation a {
    display: block;
    width: 241px;
    padding: 14px 0;
    padding-bottom: 17px;
    text-align: left;
    vertical-align: middle;
    color: #000000;
}

.site-navigation-right a {
    width: 243px;
    text-align: right;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation .active-page {
    color: #766357;
}

.main-header-logo {
    position: absolute;
    left: 530px;

}

.welcome {
    height: 528px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: -23px;
    width: 1200px;
    background-color: #669ec0;
    background-image: url("../img/intro-mask.svg"),
    url("../img/background-photo.jpg");
    background-position: center 473px,
    center -61px;
    margin-bottom: 60px;
    background-repeat: no-repeat;

}

.welcome img {
    display: block;
    margin: 96px auto;
}

.features {
    margin-bottom: 49px;
    text-align: center;

}

.features-intro {
    width: 568px;
    margin: 0 auto;
}

.features h1 {
    display: block;
    width: 576px;
    margin: 0;
    padding: 0;
    margin-bottom: 27px;
    font-size: 21px;
    text-align: center;
    line-height: 26px;
}

.features-text {
    display: block;
    width: 576px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-align: center;
    line-height: 26px;
    margin-bottom: 51px;
}

.features-items {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

.features-item:nth-child(1), .features-item:nth-child(5) {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 1200px;
    min-height: 256px;
    background-color: #81b3d2;

}

.features-item:nth-child(1) .features-photo {
    background-image: url("../img/town.jpg");
    background-position: center center;
}

.features-item:nth-child(5) .features-photo {
    background-image: url("../img/bridge.jpg");
    background-position: center center;
}

.features-item:nth-child(1) h3, .features-item:nth-child(5) h3 {
    margin: 0 auto;
    padding: 0;
    width: 210px;
    margin-top: 45px;
    margin-bottom: 25px;
    font-size: 21px;
    line-height: 21px;
    color: white;
}

.features-item:nth-child(1) span, .features-item:nth-child(5) span,
.features-item:nth-child(1) p, .features-item:nth-child(5) p {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 280px;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 21px;
    color: white;
}

.features-item:nth-child(2), .features-item:nth-child(3), .features-item:nth-child(4) {
    margin: 0;
    padding: 0;
    width: 400px;
    min-height: 330px;
}

.features-item:nth-child(2) h3, .features-item:nth-child(3) h3, .features-item:nth-child(4) h3 {
    margin: 0 auto;
    padding: 0;
    width: 210px;
    margin-top: 160px;
    margin-bottom: 25px;
    font-size: 21px;
    line-height: 21px;

}

.features-item:nth-child(2) p, .features-item:nth-child(3) p, .features-item:nth-child(4) p {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 300px;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 21px;

}

.features-item:nth-child(2) {
    background-image: url("../img/icon-1.svg");
    background-position: center 60px;
    background-repeat: no-repeat;
}

.features-item:nth-child(3) {
    background-image: url("../img/icon-2.svg");
    background-position: center 60px;
    background-repeat: no-repeat;
}

.features-item:nth-child(4) {
    background-image: url("../img/icon-3.svg");
    background-position: center 60px;
    background-repeat: no-repeat;
}

.features-item:nth-child(6), .features-item:nth-child(7), .features-item:nth-child(8) {
    margin: 0;
    padding: 0;
    width: 400px;
    min-height: 256px;
    background-color: #eeeeee;
}

.features-item:nth-child(6) h3, .features-item:nth-child(7) h3, .features-item:nth-child(8) h3 {
    margin: 0 auto;
    padding: 0;
    width: 130px;
    margin-top: 45px;
    margin-bottom: 25px;
    font-size: 21px;
    line-height: 21px;

}

.features-item:nth-child(6) span, .features-item:nth-child(7) span, .features-item:nth-child(8) span,
.features-item:nth-child(6) p, .features-item:nth-child(7) p, .features-item:nth-child(8) p {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 270px;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 21px;

}


.features-container {
    width: 400px;
}

.features-photo {
    width: 800px;
}

.search-hotels {
    width: 568px;
    margin: 0 auto;

    text-align: center;
}

.search-hotels-question {
    display: block;
    width: 568px;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    margin-bottom: 24px;
    line-height: 36px;
}

.search-hotels-text {
    display: block;
    width: 568px;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    margin-bottom: 48px;
}

.button-search {
    width: 568px;
    padding: 30px 0;
    font: inherit;
    text-align: center;
    color: white;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    background-color: #766357;
    border: none;
}

.button-search:hover,
.button-search:focus {
    background-color: #604e43;
}

.button-search:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.filter {
    display: none;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    margin: 0;
    padding: 0;
    width: 568px;
    margin: 0 auto;
    padding-top: 55px;
    background: white;
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

@keyframes bounce {
    0% {
        transform: translateY(-200px) scale(0);
    }

    70% {
        transform: translateY(30px) scale(0.5);
    }

    100% {
        transform: translateY(0);
    }
}

.filter-show {
    display: block;
    animation: bounce 0.6s;
}

.filter ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filter-option {
    position: relative;
    margin: 0;
    padding: 0;
    font-weight: bold;
    list-style: none;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 458px;
    margin-left: 54px;
}

.filter-option label, .filter-option label {
    display: flex;
    align-items: center;
    /*box-shadow: inset 0 0 0 2px rgb(234, 255, 45);*/
}

.filter-option input[type="text"] {
    width: 334px;
    padding-left: 12px;
}

.filter-option input[type="number"] {
    margin: 0;
    padding: 0;
    width: 34px;
    text-align: center;
    vertical-align: center;
}

.filter-option input[type="number"]::-webkit-outer-spin-button,
.filter-option input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.filter-option input {
    height: 34px;
    font: inherit;
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
}

.filter-option input:hover {
    background-color: #ebebeb;
    border: 2px solid #ebebeb;
}

.filter-option input:focus {
    background-color: white;
    border: 2px solid #ebebeb;
}

.button-calendar {
    position: absolute;
    padding: 0;
    background-color: transparent;
    right: 7px;
    top: 9px;
    border: none;
}

.button-calendar path {
    fill: #cacaca;
}

.button-calendar:hover path, .button-calendar:focus path {
    fill: black;
}

.button-calendar:active path {
    fill: #81b3d2;
}

.container-buttons {
    display: flex;
    width: 114px;
    height: 38px;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.button-plus, .button-minus {
    margin: 0;
    padding: 0;
    width: 38px;
    height: 38px;
    color: #cacaca;
    font-size: 25px;
    font-weight: bold;
    border: none;
    background-color: #f2f2f2;
}

.button-plus:hover, .button-minus:hover, .button-plus:focus, .button-minus:focus {
    color: black;
}

.button-plus:active, .button-minus:active {
    color: #5496bd;
}

.button-search-hotel {
    width: 458px;
    padding: 16px 0;
    margin-top: 25px;
    margin-bottom: 55px;
    font: inherit;
    text-align: center;
    color: white;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    background-color: #81b3d2;
    border: none;
}

.button-search-hotel:hover,
.button-search-hotel:focus {
    background-color: #669ec0;
}

.button-search-hotel:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.hotels-item {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 30px 72px;
    border-bottom: 1px solid #ebebeb;
}

.hotels-item:first-child {

    border-top: 1px solid #ebebeb;
}

.hotel-info {
    padding-left: 30px;
    flex-grow: 1;

}

.hotels-category, .hotels-item-price {
    margin: 0;
    padding: 0;
}

.button-more, .button-booking {
    margin-top: 10px;
}

.hotels-item ul {

    margin: 0;
    padding: 0;
    list-style: none;
}

.hotels ul {
    display: block;
    margin: 0;
    padding: 0;
}


.hotels-item h3 {
    margin: 0;
    padding: 0;
    color: black;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 6px;
}

.hotel-item {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    color: black;
}


.hotel-item:hover,
.hotel-item:focus {
    color: #81b3d2;
}

.hotel-item:active {
    color: rgba(0, 0, 0, 0.3);
}

.container-hotel-info {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 260px;
}

.button-more {
    display: block;
    width: 110px;
    height: 27px;
    font: inherit;
    text-align: center;
    color: white;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    background-color: #81b3d2;
    border: none;
}

.button-more:hover,
.button-more:focus {
    background-color: #669ec0;
}

.button-more:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.button-booking {
    display: block;
    width: 142px;
    height: 27px;
    font: inherit;
    text-align: center;
    color: white;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    background-color: #766357;
    border: none;
}

.button-booking:hover,
.button-booking:focus {
    background-color: #604e43;
}

.button-booking:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.map {
    position: absolute;
    width: 1200px;
    height: 594px;
    background-image: url("../img/map.jpg");

}

.main-footer {
    position: relative;
    display: flex;
    justify-content: space-around;
    z-index: 3;
    align-items: center;
    flex-wrap: wrap;
    min-height: 120px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 474px;
}

.footer-tag {
    display: block;
    color: black;
    width: 200px;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
}

.footer-social {
    text-align: center;
    list-style: none;
}

.footer-social {
    /*.main-footer ul {*/
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 150px;
    padding: 0;
    list-style: none;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
}

.social-button:hover, .social-button:active {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.social-button:active svg {
    opacity: 0.3;
}

.footer-copyright a {
    position: relative;
    display: block;
    width: 200px;
    margin: 0;
    text-align: left;
    vertical-align: center;
    color: black;
    /*box-shadow: inset 0 0 0 2px rgb(234, 255, 45);*/
}

.copyright-button svg {
    position: absolute;
    right: 0;
    top: -7px;
    width: 115px;
}

.copyright-button:hover path, .copyright-button:focus path {
    fill: #81b3d2;
}

.copyright-button:active path {
    fill: #bdbbbc;
}

.hotels-item .stars {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 42px;
    width: 112px;
}

.star {
    display: block;
    width: 18px;
    margin-left: 6px;
}

.star:first-child {
    margin-left: 0;

}

.hotels-rating {
    display: block;
    margin: 0;
    padding: 0;
    width: 110px;
    height: 27px;
    font: inherit;
    text-align: center;
    color: #666666;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #f2f2f2;
    border: none;
}


body .inner-footer {
    margin-top: 0;
}